:root {
  --lightC: rgb(255, 255, 255);
  --drkC: rgb(37, 37, 37);
  --blueC: rgb(34, 111, 255);
  
  --presentC: rgba(35, 196, 255, 0.281);
  --futureC: rgba(57, 255, 74, 0.24);
  --greyC: rgb(44, 44, 44);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(46, 46, 46);
  font-size: 16px;
  line-height: 1;
}

textarea {
  border: none;
  resize: none;
  outline: none;
}

.jumbotron {
  text-align: center;
	background-color: transparent;
	color: var(--lightC);
	border-radius: 0;
	border-bottom: 2px solid rgb(255, 255, 255);
	padding: 2rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding: 0;
}

.block {
  background-color: var(--greyC);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  height: 100px;
  width: 100%;
  border: 1px solid rgb(155, 155, 155);
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.hour {
  background-color: black;
  color: black;
  border-top: 1px dashed white;
}

.past {
  background-color: black;
  color: black;
}

.present {
  background-color: #ff6961;
  color: grey;
}

.future {
  background-color: #77dd77;
  color: grey;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
